   @charset "UTF-8";
  
  /* config geral */
   *{
    margin: 0px;
    padding: 0px;
   }
   body {
            margin: 0;
            font-family: "Poppins", sans-serif;
            background-image: url(../imagens/fundoloja.jpg);
            background-repeat:no-repeat ;
            background-size: cover;
            background-attachment: fixed;
           
        }


  /* Cabeçalho */

header{
  display: flex;
  background-color: #072e07;
   min-width: 300px ;
    max-width: 1000px;
    margin: auto;
}
div#logo{
  display: flex;
  text-align: center;
  gap: 10px;
}
/* Menu de navegação */
nav#menu {
  
 text-align: center;
  text-transform: uppercase;
  font-size: 20px;
 justify-content: space-between;
}
nav#menu ul{
 display: flex;
  list-style: none;
 gap: 10px;
 
}
nav#menu li {
  text-decoration: none;
  margin-top: 90px;
}
 
nav#menu a {
  font-size: 15px;
   transition:  .5s;
  color: #e6ffbe;
  text-decoration: none;
  text-align: center;
   border-radius: 20px;
   border: solid 2px green;
   padding: 20px;
   display: block;
   font-weight: bolder;
}

nav#menu a:hover {

  background-color: #4a9e4a;
  color: #335226;
  font-weight: bolder;
  margin-left: 4px;
  margin-top: 10px;
   border-color: #33ff00;
  box-shadow: 0 0 12px #7affd676;
}
/* Corpo */
    main{
    background-image: linear-gradient(#072e07e0, #1f854adc,#53a82fdc);
     min-width: 300px ;
    max-width: 1000px;
    margin: auto;
}
    
        .titulo {
            text-align: center;
            font-size: 34px;
            color: #ffffff;
            margin-bottom: 50px;
            padding-top: 20px;
        }

        .produtos {
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            gap: 30px;
            padding: 0 20px;
        }

        .card {
            background: #1c5511c0;
            border: 1px solid rgba(255,255,255,0.1);
            border-radius: 14px;
            padding: 18px;
            transition: 0.3s;
            backdrop-filter: blur(6px);
        }

        .card:hover {
            transform: translateY(-7px);
            border-color: #33ff00;
            box-shadow: 0 0 12px #7affd676;
        }

        .card img {
            width: 100%;
            height: 230px;
            object-fit: cover;
            border-radius: 10px;
            
        }

        .card h3 {
            margin-top: 12px;
            font-size: 20px;
            color: #7affd6;
        }

        .card ul {
            list-style: none;
            padding-left: 0;
            margin-top: 10px;
        }

        .card ul li {
            margin-bottom: 5px;
            font-size: 14px;
            color: #d6e6ff;
        }

        .preco {
            margin-top: 12px;
            font-size: 20px;
            font-weight: 600;
            color: #7affd6;
        }


        .btn {
            margin-top: 12px;
            display: inline-block;
            padding: 10px 16px;
            background: #7affd6;
            color: #001220;
            font-weight: bold;
            text-decoration: none;
            border-radius: 8px;
            transition: 0.2s;
        }

        .btn:hover {
            background: #a8ffe7;
        }
        #btncontato{
            text-align: center;
            background-color: #072e07;
            color: white;
            text-decoration: none;
            padding: 10px;
            display: block;
            width: 300px;
            border-radius: 10px;
            margin: 20px;
            font-weight: bolder;
            border: solid 1px green;
            box-shadow: 0px 0px 12px rgb(0, 238, 255);
        }
        #btncontato:hover{
            background-color: #09c787;
            color: #072e07;
            font-weight: bolder;
            border: solid 1px #48ff00;
            box-shadow: 0 0 12px #00f7d676;
           
        }
        
/* Rodapé */
footer {
    
    background-color: #072e07;
    text-align: center;
    padding: 15px 0 15px 0;
    color: white;
    font-size: 14px;
     min-width: 300px ;
    max-width: 1000px;
    margin: auto;
}