@charset "UTF-8";

@media screen and (max-width: 912px){
        header{
 display:  grid;
  background-color: #072e07;
   min-width: 300px ;
    max-width: 1000px;
    margin: auto;
}
    div#logo{
 margin: auto;
}
nav#menu {
  
 text-align: center;
  text-transform: uppercase;
  font-size: 20px;

}
nav#menu ul{
 margin: auto;
 margin-bottom: 30px;
list-style: none;
gap: 0px;
 
}
nav#menu li {
    margin: auto;
  text-decoration: none;
}
nav#menu a {
  font-size: 10px;
   transition:  .5s;
  color: #e6ffbe;
  text-decoration: none;
  text-align: center;
   border-radius: 20px;
   border: solid 2px green;
   padding: 20px;
   display: block;
   font-weight: bolder;
}
}