@charset "UTF-8";

@media screen and (max-width: 912px){
 header#BotõesDePesquisa{
  display: grid;
  background-color: #072e07;
    min-width: 300px ;
    max-width: 1000px;
    margin: auto;
}
      /* Logo da empresa com imagem */
      div#logo{
       margin: auto;
      }
      /* Menu de navegação  */
      nav#menu {
        
      text-align: center;
        text-transform: uppercase;
        font-size: 20px;
      }
      nav#menu ul{
      margin-bottom: 30px;
    list-style: none;
      gap: 10px;
      
      }
      nav#menu li {
        text-decoration: none;
        margin: auto;
      }
      
      nav#menu a {
        font-size: 10px;
        transition:  .5s;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        border-radius: 20px;
        border: solid 2px #9900ff;
        padding: 20px;
        display: block;
        font-weight: bolder;
      }
}